<div>
    <h1>Cart</h1>
    <p>ID Cart:{{user.cart_id}}</p>
    <input type="hidden" name="" id="cartId" value="{{user.cart_id}}">
    <hr>
    <h2>Producto</h2>
    <button style="padding: 0.5em 2em;" id="btnEndBuy">Finalizar compra</button>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="border: 1px solid #ddd; padding: 8px;">Producto</th>
                <th style="border: 1px solid #ddd; padding: 8px;">Title</th>
                <th style="border: 1px solid #ddd; padding: 8px;">$</th>
                <th style="border: 1px solid #ddd; padding: 8px;">Stock</th>
                <th style="border: 1px solid #ddd; padding: 8px;">Cantidad</th>
                <th style="border: 1px solid #ddd; padding: 8px;">-</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <input type="hidden" value="{{_id}}">
                <td style="border: 1px solid #ddd; padding: 8px;"><img src="/static/img/{{thumbnail}}" alt=""
                        style="width: 5rem;"></td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{title}}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{price}}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{stock}}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{quantity}}</td>
                <td style="border: 1px solid #ddd; padding: 8px;"><button class="btnDeleteProduct">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<script src="/static/js/cart/cart.js"></script>