<div>
    <h1>Cart</h1>
    <p>ID Cart:{{idCart}}</p>
    <hr>
    <h2>Producto</h2>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="border: 1px solid #ddd; padding: 8px;">ID Producto</th>
                <th style="border: 1px solid #ddd; padding: 8px;">Title</th>
                <th style="border: 1px solid #ddd; padding: 8px;">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">{{_id}}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{title}}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<script>
    /// <p>ID Cart:{{_id}}</p>
</script>