<style>
    .container {
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h1 {
        margin-bottom: 20px;
        color: #333;
    }

    .btn-upgrade {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .btn-upgrade:hover {
        background-color: #0056b3;
    }

    .btn-cancel {
        background-color: #ff0051;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .btn-cancel:hover {
        background-color: #b6063d;
    }

</style>

<div class="container">
    {{#if (eq role 'PREMIUM')}}
    <p style="margin: 5px 0;"><strong>Status:</strong>{{role}}</p>
    <h1>Cancelar Suscripción Premium</h1>
    <p>¿Estás seguro de que quieres cancelar tu suscripción Premium? Perderás acceso a las funciones adicionales.</p>
    <form>
        <input type="hidden" name="" id="userId" value="{{_id}}">
        <button type="submit" class="btn-cancel">Cancelar Suscripción</button>
    </form>
    {{else}}
    <p style="margin: 5px 0;"><strong>Status:</strong>{{role}}</p>
    <h1>Hazte Usuario Premium</h1>
    <p>¡Actualiza a Premium y disfruta de funciones adicionales!</p>
    <form>
        <input type="hidden" name="" id="userId" value="{{_id}}">
        <button type="submit" class="btn-upgrade">Actualizar a Premium</button>
    </form>
    {{/if}}

</div>


<script src="/static/js/user/premiumConversion.js"></script>