<div>
    <h1>Product Details</h1>
    <div  style="border: 1px solid #ccc; padding: 20px; max-width: 400px; margin: auto;">
        <img src="/static/img/{{thumbnail}}" alt="{{title}}" style="max-width: 100%;">
        <input type="hidden" value={{_id}} id="idProduct">
        <h1 style="font-size: 24px; margin: 0 0 10px;">{{title}}</h1>
        <p style="margin: 5px 0;"><strong>Description:</strong> {{description}}</p>
        <p style="margin: 5px 0;"><strong>Price:</strong> ${{price}}</p>
        <p style="margin: 5px 0;"><strong>Code:</strong> {{code}}</p>
        <p style="margin: 5px 0;"><strong>Stock:</strong> {{stock}}</p>
        <p style="margin: 5px 0;"><strong>Category:</strong> {{category}}</p>
        {{#if status}}
        <p style="margin: 5px 0;"><strong>Status:</strong> In stock</p>
        {{else}}
        <p style="margin: 5px 0;"><strong>Status:</strong> Out of stock</p>
        {{/if}}
        <button id="buyButton" 
            style="display: block; width: 100%; padding: 10px; background-color: #28a745; color: white; text-align: center; text-decoration: none; border-radius: 5px; margin-top: 10px;">Buy
            Now</button>
    </div>
</div>

<script>
    const btnAddCart = document.querySelector('#buyButton');
    const idProduct=document.querySelector('#idProduct').value;
    btnAddCart.addEventListener('click', async () => { 
        const data = await fetch(`/api/carts/664e6f34e850e3ab7e2b8ba5/product/${idProduct}`, { method: 'POST' })
        if (data.ok) { alert("Se agrego el producto al carrito") }
    })


</script>