<style>
    .btnEnabled {
        cursor: pointer;
        opacity: 1;
    }

    .btnDisabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
</style>
<div>
    <div>
        <h1>Productos</h1>
        <h2>Bienvenido {{user.fullName}}</h2>
        <p>{{user.role}}</p>
        <input type="hidden" id="cartId" value={{user.cart_id}}>
        <input type="hidden" id="userId" value={{user._id}}>
        <input type="hidden" id="userRole" value={{user.role}}>
        <input type="hidden" id="userEmail" value={{user.email}}>
    </div>

    {{!-- FILTROS --}}
    <div style="margin-bottom: 20px;">
        <div class="search-container" style="text-align: center; margin: 20px 0;">
            <form id="formProductSearch">
                <label for="productSearch">Buscar productos</label>
                <input type="search" id="productSearch" name="query" placeholder="Buscar productos..."
                    aria-label="Buscar productos"
                    style="padding: 10px; width: 250px; border: 1px solid #ccc; border-radius: 5px;">
                <button type="submit"
                    style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
                    Buscar
                </button>
            </form>
        </div>

        <div style="border: solid 1px black; display: flex; align-items: center; gap: 1rem;">
            <h3>FILTROS</h3>
            <div>
                <label for="sortPrice" style="font-size: 16px; font-weight: bold;">Ordenar por precio:</label>
                <select name="sortPrice" id="sortPrice" style="padding: 5px; font-size: 14px; margin-left: 10px;">
                    <option value="1">Menor a Mayor</option>
                    <option value="-1">Mayor a Menor</option>
                </select>
            </div>
            <div>
                <label for="selectCategory" style="font-size: 16px; font-weight: bold;">Categorias</label>
                <select name="selectCategory" id="selectCategory"
                    style="padding: 5px; font-size: 14px; margin-left: 10px;">
                </select>
            </div>
            <button id="btnFiltro"
                style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
                Aplicar filtros
            </button>
             <button id="btnLimpiarFiltro"
                style="padding: 10px 20px; background-color: #ff0084; color: white; border: none; border-radius: 5px; cursor: pointer;">
                Limpiar filtros
            </button>
        </div>
    </div>

    <div style="border: solid 1px black; display: flex; align-items: center; gap: 1rem; margin-bottom: 1rem;">
        <p>Limit: <span id="limit"></span></p>
        <p>CantPro: <span id="cantPro"></span></p>
        <p>Page: <span id="page"></span></p>
        <p>Total Pages: <span id="totPag"></span></p>
    </div>

    <div style="display: grid; grid-template-columns: repeat(3,1fr); gap: 1rem;" id="catalogo">
        {{!-- List Products --}}
    </div>

    <div style="display: flex; gap: 1rem; margin: 1rem 0; border:solid 1px; padding: 1rem 0; ">
        <button id="btnPrev">Previous</button>
        <button id="btnNext">Next</button>
    </div>
</div>

<script type="module" src="/static/js/product/renderProduct.js"></script>